/*
debil-css Pro stworzony przez rozdymkota (KZacharski) należącego do Piece Wędzarnicze Labs
Wersja git.
W środowisku produkcyjnym zalecamy użycie wersji sieć dostarczania treści dostępną pod adresem: https://cdn.puffercat.xyz/c/debil-css/pro.css
debil-css Pro posiada otwarte źródło i jest udostępniony na licencji MIT (https://github.com/KZacharski/debil-css-pro/blob/main/LICENSE)
Łącze do źródła: https://github.com/KZacharski/debil-css-pro
*/

// Klasy dotyczące czcionek
.czcionka-komiczne {
	font-family: "Comic Sans MS" !important;
} .czcionka-czasy-nowego-romana {
	font-family: "Times New Roman" !important;
} .czcionka-krzywe {
	font-style: italic;
} .czcionka-nie-ma-szeryfa {
	font-family: sans-serif;
} .czcionka-szeryf {
	font-family: serif;
} .czcionka-odreczne {
	font-family: cursive;
} .czcionka-nadwaga {
	font-weight: bold;
} .czcionka-grube {
	font-weight: bolder;
} .czcionka-dowaga {
	font-weight: normal;
} .czcionka-chude {
	font-weight: lighter;
} .czcionka-za-male {
	font-size: xx-small;
} .czcionka-male {
	font-size: x-small;
} .czcionka-nieduze {
	font-size: small;
} .czcionka-przecietne {
	font-size: medium;
} .czcionka-niemale {
	font-size: large;
} .czcionka-duze {
	font-size: x-large;
} .czcionka-za-duze {
	font-size: xx-large;
}