/*
debil-css Pro stworzony przez rozdymkota (KZacharski) należącego do Piece Wędzarnicze Labs
Wersja git.
W środowisku produkcyjnym zalecamy użycie wersji sieć dostarczania treści dostępną pod adresem: https://cdn.puffercat.xyz/c/debil-css/pro.css
debil-css Pro posiada otwarte źródło i jest udostępniony na licencji MIT (https://github.com/KZacharski/debil-css-pro/blob/main/LICENSE)
Łącze do źródła: https://github.com/KZacharski/debil-css-pro
*/

// Klasy dotyczące czcionek
.czcionka-komiczne {
	font-family: "Comic Sans MS" !important;
} .czcionka-czasy-nowego-romana {
	font-family: "Times New Roman" !important;
} .czcionka-krzywe {
	font-style: italic;
} .czcionka-nie-ma-szeryfa {
	font-family: sans-serif;
} .czcionka-szeryf {
	font-family: serif;
} .czcionka-odreczne {
	font-family: cursive;
} .czcionka-nadwaga {
	font-weight: bold;
} .czcionka-grube {
	font-weight: bolder;
} .czcionka-dowaga {
	font-weight: normal;
} .czcionka-chude {
	font-weight: lighter;
} .czcionka-za-male {
	font-size: xx-small;
} .czcionka-male {
	font-size: x-small;
} .czcionka-nieduze {
	font-size: small;
} .czcionka-przecietne {
	font-size: medium;
} .czcionka-niemale {
	font-size: large;
} .czcionka-duze {
	font-size: x-large;
} .czcionka-za-duze {
	font-size: xx-large;
} .czcionka-haker {
	font-family: monospace;
}

// Klasy dotyczące kolorów (lewacka propaganda)
.kolor-zielone {
	color: green;
} .kolor-niebieskie {
	color: blue;
} .kolor-czarne {
	color: black;
} .kolor-biale {
	color: white;
} .kolor-czerwone {
	color: red;
} .kolor-zolte {
	color: yellow;
} .kolor-szare {
	color: gray;
} .kolor-fioletowe {
	color: purple;
} .kolor-rozowe {
	color: pink;
} .kolor-pomaranczowe {
	color: orange;
} .kolor-tlo-zielone {
	background-color: green;
} .kolor-tlo-niebieskie {
	background-color: blue;
} .kolor-tlo-czarne {
	background-color: black;
} .kolor-tlo-biale {
	background-color: white;
} .kolor-tlo-czerwone {
	background-color: red;
} .kolor-tlo-zolte {
	background-color: yellow;
} .kolor-tlo-szare {
	background-color: gray;
} .kolor-tlo-fioletowe {
	background-color: purple;
} .kolor-tlo-rozowe {
	background-color: pink;
} .kolor-tlo-pomaranczowe {
	background-color: orange;
}

// Klasy dotyczące zaokrąglenia
.niezaokraglone {
	border-radius: 0%;
} .troche-zaokraglone {
	border-radius: 25%;
} .zaokraglone {
	border-radius: 50%;
} .bardzo-zaokraglone {
	border-radius: 75%;
} .za-bardzo-zaokraglone {
	border-radius: 100%;
}

//Klasy dotyczące wyściółki
.brak-wysciolki {
	padding: 0%;
} .mala-wysciolka {
	padding: 25%;
} .wysciolka {
	padding: 50%;
} .duza-wysciolka {
	padding: 75%;
} .za-duza-wysciolka {
	padding: 100%;
} .brak-liberalnej-wysciolki {
	padding-bottom: 0%;
} .lekko-liberalna-wysciolka {
	padding-bottom: 25%;
} .liberalna-wysciolka {
	padding-bottom: 50%;
} .mocno-liberalna-wysciolka {
	padding-bottom: 75%;
} .ekstremalnie-liberalna-wysciolka {
	padding-bottom: 100%;
} .brak-autorytarnej-wysciolki {
	padding-top: 0%;
} .lekko-autorytarna-wysciolka {
	padding-top: 25%;
} .autorytarna-wysciolka {
	padding-top: 50%;
} .mocno-autorytarna-wysciolka {
	padding-top: 75%;
} .dykatator-wysciolka {
	padding-top: 100%;
} .brak-lewicowej-wysciolki {
	padding-left: 0%;
} .lekko-lewicowa-wysciolka {
	padding-left: 25%;
} .lewicowa-wysciolka {
	padding-left: 50%;
} .lewacka-wysciolka {
	padding-left: 75%;
} .komunistyczna-wysciolka {
	padding-left: 100%
} .brak-prawicowej-wysciolki {
	padding-right: 0%;
} .lekko-prawicowa-wysciolka {
	padding-right: 25%;
} .prawicowa-wysciolka {
	padding-right: 50%;
} .prawacka-wysciolka {
	padding-right: 75%;
} .anarchokapitalistyczna-wysciolka {
	padding-right: 100%;
}