/*
debil-css Pro stworzony przez rozdymkota (KZacharski) należącego do Piece Wędzarnicze Labs
Wersja git.
W środowisku produkcyjnym zalecamy użycie wersji sieć dostarczania treści dostępną pod adresem: https://cdn.puffercat.xyz/c/debil-css/pro.css
debil-css Pro posiada otwarte źródło i jest udostępniony na licencji MIT (https://github.com/KZacharski/debil-css-pro/blob/main/LICENSE)
Łącze do źródła: https://github.com/KZacharski/debil-css-pro
*/

// Klasy dotyczące czcionek
.czcionka-komiczne {
	font-family: "Comic Sans MS" !important;
} .czcionka-czasy-nowego-romana {
	font-family: "Times New Roman" !important;
} .czcionka-krzywe {
	font-style: italic;
} .czcionka-nie-ma-szeryfa {
	font-family: sans-serif;
} .czcionka-szeryf {
	font-family: serif;
} .czcionka-odreczne {
	font-family: cursive;
} .czcionka-nadwaga {
	font-weight: bold;
} .czcionka-grube {
	font-weight: bolder;
} .czcionka-dowaga {
	font-weight: normal;
} .czcionka-chude {
	font-weight: lighter;
} .czcionka-za-male {
	font-size: xx-small;
} .czcionka-male {
	font-size: x-small;
} .czcionka-nieduze {
	font-size: small;
} .czcionka-przecietne {
	font-size: medium;
} .czcionka-niemale {
	font-size: large;
} .czcionka-duze {
	font-size: x-large;
} .czcionka-za-duze {
	font-size: xx-large;
} .czcionka-haker {
	font-family: monospace;
}

// Klasy dotyczące kolorów (lewacka propaganda)
.kolor-zielone {
	color: green;
} .kolor-niebieskie {
	color: blue;
} .kolor-czarne {
	color: black;
} .kolor-biale {
	color: white;
} .kolor-czerwone {
	color: red;
} .kolor-zolte {
	color: yellow;
} .kolor-szare {
	color: gray;
} .kolor-fioletowe {
	color: purple;
} .kolor-rozowe {
	color: pink;
} .kolor-pomaranczowe {
	color: orange;
} .kolor-tlo-zielone {
	background-color: green;
} .kolor-tlo-niebieskie {
	background-color: blue;
} .kolor-tlo-czarne {
	background-color: black;
} .kolor-tlo-biale {
	background-color: white;
} .kolor-tlo-czerwone {
	background-color: red;
} .kolor-tlo-zolte {
	background-color: yellow;
} .kolor-tlo-szare {
	background-color: gray;
} .kolor-tlo-fioletowe {
	background-color: purple;
} .kolor-tlo-rozowe {
	background-color: pink;
} .kolor-tlo-pomaranczowe {
	background-color: orange;
} .kolor-rama-zielone {
	border-color: green;
} .kolor-rama-niebieskie {
	border-color: blue;
} .kolor-rama-czarne {
	border-color: black;
} .kolor-rama-biale {
	border-color: white;
} .kolor-rama-czerwone {
	border-color: red;
} .kolor-rama-zolte {
	border-color: yellow;
} .kolor-rama-szare {
	border-color: gray;
} .kolor-rama-fioletowe {
	border-color: purple;
} .kolor-rama-rozowe {
	border-color: pink;
} .kolor-rama-pomaranczowe {
	border-color: orange;
}

// Klasy dotyczące zaokrąglenia
.niezaokraglone {
	border-radius: 0%;
} .troche-zaokraglone {
	border-radius: 25%;
} .zaokraglone {
	border-radius: 50%;
} .bardzo-zaokraglone {
	border-radius: 75%;
} .za-bardzo-zaokraglone {
	border-radius: 100%;
} .dol-lewo-niezaokraglone {
	border-bottom-left-radius: 0%;
} .dol-lewo-troche-zaokraglone {
	border-bottom-left-radius: 25%;
} .dol-lewo-zaokraglone {
	border-bottom-left-radius: 50%;
} .dol-lewo-bardzo-zaokraglone {
	border-bottom-left-radius: 75%;
} .dol-lewo-za-bardzo-zaokraglone {
	border-bottom-left-radius: 100%;
} .dol-prawo-niezaokraglone {
	border-bottom-right-radius: 0%;
} .dol-prawo-troche-zaokraglone {
	border-bottom-right-radius: 25%;
} .dol-prawo-zaokraglone {
	border-bottom-right-radius: 50%;
} .dol-prawo-bardzo-zaokraglone {
	border-bottom-right-radius: 75%;
} .dol-prawo-za-bardzo-zaokraglone {
	border-bottom-right-radius: 100%;
} .gora-lewo-niezaokraglone {
	border-top-left-radius: 0%;
} .gora-lewo-troche-zaokraglone {
	border-top-left-radius: 25%;
} .gora-lewo-zaokraglone {
	border-top-left-radius: 50%;
} .gora-lewo-bardzo-zaokraglone {
	border-top-left-radius: 75%;
} .gora-lewo-za-bardzo-zaokraglone {
	border-top-left-radius: 100%;
} .gora-prawo-niezaokraglone {
	border-top-right-radius: 0%;
} .gora-prawo-troche-zaokraglone {
	border-top-right-radius: 25%;
} .gora-prawo-zaokraglone {
	border-top-right-radius: 50%;
} .gora-prawo-bardzo-zaokraglone {
	border-top-right-radius: 75%;
} .gora-prawo-za-bardzo-zaokraglone {
	border-top-right-radius: 100%;
}

//Klasy dotyczące wyściółki
.brak-wysciolki {
	padding: 0%;
} .mala-wysciolka {
	padding: 25%;
} .wysciolka {
	padding: 50%;
} .duza-wysciolka {
	padding: 75%;
} .za-duza-wysciolka {
	padding: 100%;
} .brak-liberalnej-wysciolki {
	padding-bottom: 0%;
} .lekko-liberalna-wysciolka {
	padding-bottom: 25%;
} .liberalna-wysciolka {
	padding-bottom: 50%;
} .mocno-liberalna-wysciolka {
	padding-bottom: 75%;
} .ekstremalnie-liberalna-wysciolka {
	padding-bottom: 100%;
} .brak-autorytarnej-wysciolki {
	padding-top: 0%;
} .lekko-autorytarna-wysciolka {
	padding-top: 25%;
} .autorytarna-wysciolka {
	padding-top: 50%;
} .mocno-autorytarna-wysciolka {
	padding-top: 75%;
} .ekstremalnie-autorytarna-wysciolka {
	padding-top: 100%;
} .brak-lewicowej-wysciolki {
	padding-left: 0%;
} .lekko-lewicowa-wysciolka {
	padding-left: 25%;
} .lewicowa-wysciolka {
	padding-left: 50%;
} .lewacka-wysciolka {
	padding-left: 75%;
} .komunistyczna-wysciolka {
	padding-left: 100%
} .brak-prawicowej-wysciolki {
	padding-right: 0%;
} .lekko-prawicowa-wysciolka {
	padding-right: 25%;
} .prawicowa-wysciolka {
	padding-right: 50%;
} .prawacka-wysciolka {
	padding-right: 75%;
} .anarchokapitalistyczna-wysciolka {
	padding-right: 100%;
}

// Klasy dotyczące ramy
.brak-ramy {
	border-style: none;
} .ukryta-rama {
	border-style: hidden;
} .kropki-rama {
	border-style: dotted;
} .kreski-rama {
	border-style: dashed;
} .solidna-rama {
	border-style: solid;
} .podwojna-rama {
	border-style: double;
} .row-rama {
	border-style: groove;
} .grzbiet-rama {
	border-style: ridge;
} .wstawka-rama {
	border-style: inset;
} .poczatek-rama {
	border-style: outset;
} .rama-chuda {
	border-width: thin;
} .rama-przecietna {
	border-width: medium;
} .rama-gruba {
	border-width: thick;
}

// Klasy dotyczące wyświetlacza
.wyswietlacz-w-linii {
	display: inline;
} .wyswietlacz-blok {
	display: block;
} .wyswietlacz-tresci {
	display: contents;
} .wyswietlacz-elastyczny {
	display: flex;
} .wyswietlacz-siatka {
	display: grid;
} .wyswietlacz-blok-w-linii {
	display: inline-block;
} .wyswietlacz-elastyczny-w-linii {
	display: inline-flex;
} .wyswietlacz-siatka-w-linii {
	display: inline-grid;
} .wyswietlacz-stol-w-linii {
	display: inline-table;
} .wyswietlacz-przedmiot-listy {
	display: list-item;
} .wyswietlacz-wbiegnij {
	display: run-in;
} .wyswietlacz-stol {
	display: table;
} .wyswietlacz-stol-podpis {
	display: table-caption;
} .wyswietlacz-stol-kolumna-grupa {
	display: table-column-group;
} .wyswietlacz-stol-naglowek-grupa {
	display: table-header-group;
} .wyswietlacz-stol-stopka-grupa {
	display: table-footer-group;
} .wyswietlacz-stol-szereg-grupa {
	display: table-row-group;
} .wyswietalcz-stol-ogniwo {
	display: table-cell;
} .wyswietalcz-stol-kolumna {
	display: table-column;
} .wyswietlacz-stol-szereg {
	display: table-row;
} .brak-wyswietlacza {
	display: none;
}

// Klasy dotyczące wymiarów
.wymiary-szerokosc-automatyczna {
	width: auto;
} .wymiary-szerokosc-mala {
	width: 25%;
} .wymiary-szerokosc-przecietna {
	width: 50%;
} .wymiary-szerokosc-duza {
	width: 75%;
} .wymiary-szerokosc-za-duza {
	width: 100%;
} .wymiary-wysokosc-automatyczna {
	height: auto;
} .wymiary-wysokosc-mala {
	height: 25%;
} .wymiary-wysokosc-przecietna {
	height: 50%;
} .wymiary-wysokosc-duza {
	height: 75%;
} .wymiary-wysokosc-za-duza {
	height: 100%;
}

// Klasy dotyczące kursora
.kursor-alias {
	cursor: alias;
} .kursor-wszystkie-przewijanie {
	cursor: all-scroll;
} .kursor-automatyczne {
	cursor: auto;
} .kursor-ogniwo {
	cursor: cell;
} .kursor-kontekstowa-karta-dan {
	cursor: context-menu;
} .kursor-kol-zmien-wielkosc {
	cursor: col-resize;
} .kursor-kopiuj {
	cursor: copy;
} .kursor-krzyz-wlosy {
	cursor: crosshair;
} .kursor-domyslne {
	cursor: default;
} .kursor-e-zmien-wielkosc {
	cursor: e-resize;
} .kursor-ew-zmien-wielkosc {
	cursor: ew-resize;
} .kursor-chwyc {
	cursor: grab;
} .kursor-chwytanie {
	cursor: grabbing;
} .kursor-pomoc {
	cursor: help;
} .kursor-przenies {
	cursor: move;
} .kursor-n-zmien-wielkosc {
	cursor: n-resize;
} .kursor-ne-zmien-wielkosc {
	cursor: ne-resize;
} .kursor-nesw-zmien-wielkosc {
	cursor: nesw-resize;
} .kursor-ns-zmien-wielkosc {
	cursor: ns-resize;
} .kursor-nw-zmien-wielkosc {
	cursor: nw-resize;
} .kursor-nwse-zmien-wielkosc {
	cursor: nwse-resize;
} .kursor-nie-upusc {
	cursor: no-drop;
} .kursor-zaden {
	cursor: none;
} .kursor-bez-pozwolenia {
	cursor: not-allowed;
} .kursor-wskaznik {
	cursor: pointer;
} .kursor-progres {
	cursor: progress;
} .kursor-row-zmien-wielkosc {
	cursor: row-resize;
} .kursor-s-zmien-wielkosc {
	cursor: s-resize
} .kursor-se-zmien-wielkosc {
	cursor: se-resize;
} .kursor-sw-smien-wielkosc {
	cursor: sw-resize;
} .kursor-tekst {
	cursor: text;
} .kursor-w-zmien-wielkosc {
	cursor: w-resize;
} .kursor-poczekaj {
	cursor: wait;
} .kursor-przybliz {
	cursor: zoom-in;
} .kursor-odsun {
	cursor: zoom-out;
}

// Klasy dotyczące marginesów
.brak-marginesu {
	margin: 0%;
} .maly-margines {
	margin: 25%;
} .margines {
	margin: 50%;
} .duzy-margines {
	margin: 75%;
} .za-duzy-margines {
	margin: 100%;
} .brak-gornego-marginesu {
	margin-top: 0%;
} .maly-gorny-margines {
	margin-top: 25%;
} .gorny-margines {
	margin-top: 50%;
} .duzy-gorny-margines {
	margin-top: 75%;
} .za-duzy-gorny-margines {
	margin-top: 100%;
} .brak-dolnego-marginesu {
	margin-bottom: 0%;
} .maly-dolny-margines {
	margin-bottom: 25%;
} .dolny-margines {
	margin-bottom: 50%;
} .duzy-dolny-margines {
	margin-bottom: 75%;
} .za-duzy-dolny-margines {
	margin-bottom: 100%;
} .brak-prawego-marginesu {
	margin-right: 0%;
} .maly-prawy-margines {
	margin-right: 25%;
} .prawy-margines {
	margin-right: 50%;
} .duzy-prawy-margines {
	margin-right: 75%;
} .za-duzy-prawy-margines {
	margin-right: 100%;
} .brak-lewackiego-marginesu {
	margin-left: 0%;
} .maly-lewacki-margines {
	margin-left: 25%;
} .lewacki-margines {
	margin-left: 50%;
} .duzy-lewacki-margines {
	margin-left: 75%;
} .za-duzy-lewacki-margines {
	margin-left: 100%;
}

// Klasy dotyczące przewijania
.przweijanie-automatyczne {
	scroll-behavior: auto;
} .przewijanie-plynne {
	scroll-behavior: smooth;
}